.paginaPrincipal {
    text-align: center;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: #999;
}

#titulo {
    color: #FF7D33;
}

#descripcion {
    font-size: 40px;
    font-style: oblique;
}